<!DOCTYPE html>
<html lang="en">
<head>
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>

  
<div class="container-fluid bg-3 ">
        <br>
        
    <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
              <i class="fa fa-phone mt-3"></i> 8793749322
              <br/>
              <i class="fa fa-envelope mt-3"></i> aashishrana269@gmail.com
              <br/>
              <i class="fa fa-facebook mt-3"></i> DIEMS
              <br/>
            </div>
      
            <div class="col-sm-6 text-left py-5 my-5 px-5">
              <i class="fa fa-map-marker mt-3"></i> AR Pvt. Ltd.<br/>
              <i class="fa fa-map-marker mt-1 invisible"></i> RanaHeritage,<br/>
              <i class="fa fa-map-marker mt-1 invisible"></i> Cantonment,Aurangabad,<br/>
              <i class="fa fa-map-marker mt-1 invisible"></i> Maharashtra, India - 122018<br/>
            </div>
          </div>
      
    </div>
</body>
</html>

