<!DOCTYPE html>
<html lang="en">
<head>
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>


<div class="container-fluid bg-3 ">
  <h2>What is Diabetes</h2><br>
  <p>Diabetes mellitus is a metabolic disorder that occurs due to either a deficiency of insulin or insulin action or both. It raises blood glucose levels (hyperglycaemia), which may affect the eye, kidney, nerves and blood vessels.

        Normal blood gluose varies in humans between 70-100mg/dl in the fasting state and 100 -140 mg/dl in the fed state. Glucose is the principal fuel for energy in the body. The main source of blood glucose is food that is digested and absorbed from the gut. The other source is stored carbohydrate i.e. glycogen in the liver and muscle. In the fed state body mainly depends on glucose derived from the ingested food. In the fasting state the body maintains blood glucose by breakdown of stored glucose especially from the liver (glycogenolysis).
        
        This delicate balance of blood glucose throughout 24 hours is maintained accurately by the action of insulin which is secreted from the beta cell of the pancreases irrespective of the eating pattern and physical activity. Another important determinant of maintaining blood glucose is the sensitivity of the insulin action on the muscle, fat and liver tissues. When insulin sensitivity is decreased, body needs more insulin to burn glucose to produce energy. This is called insulin resistance.
        
        Insulin resistance is commonly seen in obese people who have more fat in the body and in the muscle. When this delicate balance is affected body will not be able to use (metabolise) glucose and there will be accumulation of blood glucose. This state of increased blood glucose level is called Diabetes Mellitus.</p>
</div>

<div class="container-fluid bg-3 ">
        <h2>Causes of Diabetes:</h2><br>
        <p>

                Ageing populations, economic development, urbanization, unhealthy diets, increased sugar consumption, low fruit, low vegetable intake and reduced physical activity are generally associated with diabetes.1 There are many modifiable factors and Non modifiable factors which cause diabetes. They include the following</p>
                <ul>
                        <li>Genetic predisposition</li>
                        <li>Obesity or overweight</li>
                        <li>Unhealthy diet</li>
                        <li>Sedentary life style</li>
                        <li>Mental and physical stress</li>
                        <li>Multiple pregnancies</li>
                        <li>Gestational Diabetes mellitus</li>
                    </ul>  
        
    </div>
</body>
</html>

