<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid bg-1 text-center">
  <br>
  <h2>Welcome to Diabetes Prediction Portal</h2>
  <img src="/assets/Diabetes-logo.png" class="img-circle" alt="logo" width="300" height="300">
  <br><br>
</div>
<div class="container-fluid bg-2 text-center"><br>
  <h3>Why to use this Web App?</h3>
  <font size ="3"><p>India is home to over 60 million adults with diabetes (7.8% of the population), of which more than 30 million are undiagnosed or untreated, thus increasing the risk of developing complications and premature mortality.

      Given the challenges in early detection and management of diabetes, it is imperative to seek innovative ways that help to expand the reach of health literacy and services among the general population and high risk groups, while also improving management and quality of life in confirmed diabetics.
      mDiabetes will contribute to improving awareness about diabetes and promoting healthy diets and active lifestyle, which are vital to the prevention of diabetes. mDiabetes will also enhance health care seeking and early diagnosis, contribute to better adherence to drug or dietary control, self-care, as well as prevention of complications among patients with diabetes.</p></font>
<br></div>
<div class="container-fluid bg-3 text-center">
    <h3></h3>
    <p></p>
  </div>
  
</body>
</html>

